.tab.filter>ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
}

.tab.filter>ul>li {
    display: none;
}

/* .tab.filter>ul>li {
    position: relative;
    align-items: flex-end;
    width: 18rem;
    height: 22.5rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    overflow: hidden;
} */

.tab.filter>nav.all+ul>li {
    display: flex;
}