html {
    /* --header-height: calc(0.75rem * 2 + var(--button-height)); */
    --header-height: calc(0.75rem * 2 + 2rem);
    /* min-height: 100%; */
    padding-top: var(--header-height);
}

body {
    position: relative;
    /* min-height: 100%; */
}

body>header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

body>nav.invert-colors {
    position: fixed;
    height: auto;
    min-width: 15rem;
    top: var(--header-height);
    bottom: 0;
    transform: translateX(-100%);
    transition-property: transform;
    z-index: 10;
}

body.menu-opened>nav.invert-colors,
body>nav.invert-colors:focus-within {
    transform: translateX(0%);
}

body>main {
    width: 90%;
    max-width: 44rem;
    margin: auto;
    padding: 3rem 0;
}