- function childrenPages(parentPage) {
-    if (parentPage) {
-       let children = parentPage.properties.children || [];
-       return children.map(href => pageMap[href]);
-    }
-    return pages.filter(p => !p.href.replace(/\/$/, "").includes("/"));
- }


mixin createMenuItem(menuPage, level)
    - let pageName = menuPage.properties.name || menuPage.properties.title;
    - let className = menuPage.properties.icon ? "lenra-icon-" + menuPage.properties.icon : "";
    a(class=className href='/'+menuPage.href)= pageName
    - let subPages = childrenPages(menuPage);
    if (subPages.length && level<3)
        details(open=currentPage.path.startsWith(menuPage.href))
            summary Open/Close
            ul
                +createMenuItems(subPages, level + 1)


mixin createMenuItems(pages, level)
    each page in pages
        li(class=(page.path==currentPage.path ? 'selected' : ''))
            +createMenuItem(page, level)

menu.invert-colors
    +createMenuItems(childrenPages(), 1)
