nav.social.dev
    a.lenra-icon-github(href="https://github.com/lenra-io" target="_blank" rel="noopener") GitHub
    a.lenra-icon-youtube(href="https://www.youtube.com/channel/UCsfPy59R3PTcFWtPO-Yklrw" target="_blank" rel="noopener") YouTube
    a.lenra-icon-dev-dot-to(href="https://dev.to/lenra" target="_blank" rel="noopener") Dev.to
    a.lenra-icon-twitter(href="https://twitter.com/lenra_dev" target="_blank" rel="noopener") Twitter
    a.lenra-icon-reddit(href="https://www.reddit.com/r/Lenra" target="_blank" rel="noopener") Reddit
    a.lenra-icon-twitch(href="https://twitch.lenra.io" target="_blank" rel="noopener") Twitch
    a.lenra-icon-tiktok(href="https://www.tiktok.com/@lenra.tech" target="_blank" rel="noopener") Tiktok
    //- a.lenra-icon-medium(href="https://medium.com/@lenra_io_dev" target="_blank" rel="noopener") Medium
    //- a.lenra-icon-facebook(href="https://www.facebook.com/dev.lenra.io" target="_blank" rel="noopener") Facebook