mixin manageCollapse(collapsable, open)
    if (collapsable)
        details(open=open)
            summary Open/Close
            block
    else
        block


mixin createMenuItem(page)
    a(href=page.path)= page.name
    if (page.subPages.length)
        - console.log("open details", currentPage.path, page.path);
        +manageCollapse(page.collapsable, currentPage.path.startsWith(page.path))
            +createMenuItems(page.subPages)


mixin createMenuItems(pages)
    ul
        each page in pages
            li(class=(page.path==currentPage.path ? 'selected' : ''))
                +createMenuItem(page)

nav
    button.primary(onclick="this.parentNode.className = this.parentNode.className ? '' : 'opened'") Open/Close Menu
    a.presentation(href="https://www.lenra.io/") Lenra
    a(href="/") Documentation
    +createMenuItems(pages[0].subPages)
    nav
        a(href="mailto:conta@lenra.io") Contact us
        a(href="https://github.com/lenra-io") GitHub
