body>nav {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(var(--background-color-data));
    font-size: normal;
    --logo-image: var(--logo-horizontal-image);
    height: 100%;
}

body>nav a {
    --btn-text-color-data: var(--text-color-data);
    --btn-text-color-hover-data: var(--text-color-data);
}

body>nav>button {
    display: none;
    min-width: 0;
}

body>nav>a.presentation {
    position: relative;
    display: block;
    color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    transition-property: none;
    text-align: center;
    height: var(--header-height);
    width: 100%;
    padding: var(--header-vertical-padding) auto;
}

body>nav>a.presentation::before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    height: calc(var(--base) * 4);
    width: 100%;
    background-image: var(--logo-horizontal-image-white);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    transform: translateY(-50%);
}

body>nav>a[href="/"] {
    margin-bottom: calc(var(--base) * 2);
    text-align: center;
    font-size: 1.2rem;
    z-index: 1;
}

body>nav>ul {
    flex: 1;
    overflow: auto;
    /* height: calc(100% - var(--header-height) - var(--base) * 4 - var(--font-size) - 33px); */
    padding: calc(var(--base) * 2) 0 0;
    color: var(--background-color);
}

body>nav>ul li {
    position: relative;
    min-width: calc(var(--base) * 24);
}

body>nav>ul li>a {
    --btn-text-color-hover-data: var(--white-data);
    --btn-background-color-data: var(--primary-color-data);
    --btn-background-color-opacity: 0;
    text-decoration: none;
    display: block;
    padding: calc(var(--base) * 0.5) calc(var(--base) * 2);
    white-space: nowrap;
    margin-bottom: calc(var(--base) / 2);
    background-color: rgba(var(--btn-background-color-data), var(--btn-background-color-opacity));
}

body>nav>ul a::after {
    content: none;
    display: none;
}

body>nav>ul li>details>summary {
    --size: calc(var(--base) * 0.5 * 2 + var(--line-height));
    position: absolute;
    top: 0;
    right: 0;
    width: var(--size);
    height: var(--size);
    padding-left: var(--size);
    overflow: hidden;
}

body>nav>ul li>details>summary::before {
    --w: var(--line-height);
    --l: 2px;
    content: ' ';
    position: absolute;
    left: -2px;
    top: 2px;
    width: 100%;
    height: 100%;
    background-image:
        linear-gradient(to right, transparent calc(50% - var(--l) / 2), currentcolor calc(50% - var(--l) / 2), currentcolor calc(50% + var(--l) / 2), transparent calc(50% + var(--l) / 2)),
        linear-gradient(to bottom, transparent calc(50% - var(--l) / 2), currentcolor calc(50% - var(--l) / 2), currentcolor calc(50% + var(--l) / 2), transparent calc(50% + var(--l) / 2));
    background-repeat: no-repeat;
    background-size: calc(var(--w) / 2) calc(var(--w) / 2);
    background-position: calc(50% + (var(--w) - var(--l)) / 4) center, center calc(50% - (var(--w) - var(--l)) / 4);
    transform: rotate(45deg);
    transform-origin: calc(50% + 2px) calc(50% - 2px);
    transition-property: transform;
}

body>nav>ul li>details[open]>summary::before {
    transform: rotate(135deg);
}

body>nav>ul ul>li>a {
    padding-left: calc(var(--base) * 4);
}

body>nav>ul ul ul>li>a {
    padding-left: calc(var(--base) * 6);
}

body>nav li a:hover,
body>nav li.selected>a {
    --btn-background-color-opacity: 1;
}

body>nav>nav {
    /* position: absolute;
    bottom: 0;
    left: 0; */
    width: 100%;
    color: white;
    text-align: center;
    padding: calc(var(--base) * 4) 0 calc(var(--base) * 2);
    /* background-image: linear-gradient(to bottom, transparent, var(--black-moon) calc(var(--base) * 2));
    background-repeat: 0;
    background-size: 100%; */
}

body>nav>nav>a+a {
    --spacing: 1rem;
    margin-left: var(--spacing);
}

body>nav>nav>a+a::before {
    content: "-";
    position: absolute;
    left: calc(var(--spacing) * -1);
    width: var(--spacing);
    text-align: center;
}

body>section>header {
    background: white;
    height: var(--header-height);
    box-shadow: 0px calc(var(--base) * 0.5) calc(var(--base) * 2) rgba(169, 178, 196, 0.25), 0px 1px var(--base) rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--header-vertical-padding) var(--header-horizontal-padding);
}

body>section>header>h1 {
    line-height: calc(var(--base) * 4);
}

@media (max-width: 60rem) {
    body>nav.invert-colors {
        position: fixed;
        left: 0;
        transform: translateX(-100%);
        z-index: 1;
    }

    body>nav.opened {
        transform: translateX(0%);
    }

    body>nav.invert-colors::before {
        content: " ";
        position: absolute;
        width: 0%;
        height: 100vh;
        top: 0;
        left: 100%;
        background-color: var(--background-color);
        opacity: 0.7;
        z-index: -1;
        transition-property: width;
    }

    body>nav.invert-colors.opened::before {
        width: calc(100vw - 100%);
    }

    body>nav>button {
        --width: calc(var(--base) * 5);
        display: block;
        position: absolute;
        top: var(--header-vertical-padding);
        right: calc(var(--header-horizontal-padding) * -1);
        transform: translateX(100%);
        width: var(--width);
        padding-left: var(--width);
        padding-right: 0;
        overflow: hidden;
        white-space: nowrap;
        transition-property: right, transform;
        z-index: 100;
    }

    body>nav.opened>button {
        right: calc(100% - 100vw + var(--header-horizontal-padding));
        transform: translateX(0%);
    }

    body>nav>button::before,
    body>nav>button::after {
        content: " ";
        position: absolute;
        width: 50%;
        height: 50%;
        top: 25%;
        left: 25%;
        display: block;
        background-image:
            linear-gradient(180deg, currentcolor, currentcolor),
            linear-gradient(180deg, currentcolor, currentcolor),
            linear-gradient(180deg, currentcolor, currentcolor);
        background-repeat: no-repeat;
        background-position: center 0%, center 50%;
        background-size: 100% 15%;
        transition-property: background, transform;
    }

    body>nav>button::after {
        background-image: linear-gradient(180deg, currentcolor, currentcolor);
        background-position: center 100%;
    }

    body>nav.opened>button::before {
        background-position: center 50%;
        transform: rotate(45deg);
    }

    body>nav.opened>button::after {
        background-position: center 50%;
        transform: rotate(-45deg);
    }

    body>section>header {
        padding-left: calc(var(--header-horizontal-padding) + var(--base) * 5 + var(--base) * 2);
    }
}

@media (max-width: 400pt) {
    body>section>header>a.button {
        display: none;
    }
}