html {
    /* --header-height: calc(0.75rem * 2 + var(--button-height)); */
    --header-height: calc(0.75rem * 2 + 2rem);
    /* min-height: 100%; */
    padding-top: var(--header-height);
}

body {
    position: relative;
    /* min-height: 100%; */
}

body>header {
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(var(--background-color-data));
    padding: 0.75rem 1.5rem;
    border-bottom: 0.0625rem solid rgba(var(--text-color-data), 0.3);
}

body>header>a[href="/"] {
    position: relative;
    display: inline-block;
    width: auto;
    height: var(--logo-height);
    aspect-ratio: 2560 / 512;
    padding-bottom: 0;
    text-align: left;
    text-indent: -100vw;
    overflow: hidden;
    transition-property: none;
}

body>header>a[href="/"]::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: auto;
    aspect-ratio: 1856 / 512;
    background-image: var(--logo-image);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: var(--logo-position);
}

body>header>a[href="/"]::after {
    content: "Docs";
    display: inline-block;
    top: 50%;
    right: 0;
    left: auto;
    bottom: auto;
    width: auto;
    padding: 0 0.25rem;
    color: rgb(var(--background-color-data));
    background-color: rgb(var(--text-color-data));
    font-size: 0.625rem;
    font-weight: 600;
    text-transform: uppercase;
    text-indent: 0;
    letter-spacing: 0.05rem;
    border: none;
    border-radius: 0.125rem;
    opacity: 1;
    transform: translateY(-50%);
}

body>header>a[href="/"]:hover::after {
    bottom: auto;
}

body>header button {
    text-indent: -1000vw;
    padding-left: 0;
    padding-right: 0;
    min-width: 0;
    height: 2rem;
    aspect-ratio: 1;
    margin-top: 0;
    background-color: transparent;
}

body>header>button::before,
body>header>button::after {
    content: " ";
    position: absolute;
    width: 70%;
    height: 50%;
    top: 25%;
    left: 15%;
    display: block;
    background-image:
        linear-gradient(180deg, currentcolor, currentcolor),
        linear-gradient(180deg, currentcolor, currentcolor),
        linear-gradient(180deg, currentcolor, currentcolor);
    background-repeat: no-repeat;
    background-position: center 0%, center 50%;
    background-size: 100% 15%;
    transition-property: background, transform;
}

body>header>button::after {
    background-image: linear-gradient(180deg, currentcolor, currentcolor);
    background-position: center 100%;
}

body.menu-opened>header>button::before {
    background-position: center 50%;
    transform: rotate(45deg);
}

body.menu-opened>header>button::after {
    background-position: center 50%;
    transform: rotate(-45deg);
}

body>header>form {
    position: relative;
    width: 2rem;
    height: 2rem;
}

body>header>form>input {
    position: absolute;
    width: 100%;
    max-width: 28rem;
    height: 100%;
    padding: 0.5rem 0.75rem;
    top: 0;
    right: 0;
    opacity: 0;
    border: 0.0625rem solid rgba(var(--text-color-data), 0.3);
    border-radius: 0.25rem;
    z-index: 1;
    transition-property: width, padding, opacity;
}

body>header>form:focus-within>input {
    width: calc(100vw - 3rem);
    padding-right: calc(100% + 0.5rem);
    opacity: 1;
    z-index: 0;
}

body>header>form>button {
    position: relative;
}

body>header>form>button::before {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.5rem;
    text-indent: 0;
    transform: translate(-50%, -50%);
}

body>header>a.btn.primary {
    display: none;
}

body>nav.invert-colors {
    position: fixed;
    height: auto;
    min-width: 15rem;
    top: var(--header-height);
    bottom: 0;
    padding: 2rem 0;
    background-color: rgb(var(--background-color-data));
    transform: translateX(-100%);
    transition-property: transform;
    overflow: auto;
    z-index: 10;
}

body.menu-opened>nav.invert-colors,
body>nav.invert-colors:focus-within {
    transform: translateX(0%);
}

body>nav.invert-colors::before {
    display: none;
}

body>nav>ul * {
    width: fit-content;
    min-width: 100%;
}

body>nav>ul li {
    position: relative;
}

body>nav>ul li>a {
    --btn-text-color-hover-data: var(--white-data);
    --btn-background-color-data: var(--primary-color-data);
    --btn-background-color-opacity: 0;
    text-decoration: none;
    display: block;
    padding: 0.25rem 1.5rem;
    padding-right: 2.5rem;
    white-space: nowrap;
    margin-bottom: 0.25rem;
    background-color: rgba(var(--btn-background-color-data), var(--btn-background-color-opacity));
}

body>nav>ul li>a::before {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5rem;
    font-size: calc(1rem * 9 / 8);
}

body>nav>ul li>details>summary {
    --size: calc(0.5rem + var(--line-height));
    position: absolute;
    top: 0;
    right: 0;
    width: var(--size);
    min-width: 0;
    height: var(--size);
    padding-left: var(--size);
    overflow: hidden;
}

body>nav>ul li>details>summary::before {
    --w: var(--line-height);
    --l: 2px;
    content: ' ';
    position: absolute;
    left: -2px;
    top: 2px;
    width: 100%;
    height: 100%;
    background-image:
        linear-gradient(to right, transparent calc(50% - var(--l) / 2), currentcolor calc(50% - var(--l) / 2), currentcolor calc(50% + var(--l) / 2), transparent calc(50% + var(--l) / 2)),
        linear-gradient(to bottom, transparent calc(50% - var(--l) / 2), currentcolor calc(50% - var(--l) / 2), currentcolor calc(50% + var(--l) / 2), transparent calc(50% + var(--l) / 2));
    background-repeat: no-repeat;
    background-size: calc(var(--w) / 2) calc(var(--w) / 2);
    background-position: calc(50% + (var(--w) - var(--l)) / 4) center, center calc(50% - (var(--w) - var(--l)) / 4);
    transform: rotate(45deg);
    transform-origin: calc(50% + 2px) calc(50% - 2px);
    transition-property: transform;
}

body>nav>ul li>details[open]>summary::before {
    transform: rotate(135deg);
}

body>nav>ul li>a {
    --btn-text-color-data: var(--white-data);
    --btn-text-color-hover-data: var(--white-data);
    --btn-background-color-data: var(--primary-color-data);
    --btn-background-color-opacity: 0;
    text-decoration: none;
    display: block;
    padding: 0.25rem 1rem;
    white-space: nowrap;
    margin-bottom: 0.25rem;
    background-color: rgba(var(--btn-background-color-data), var(--btn-background-color-opacity));
}

body>nav>ul a::after {
    content: none;
    display: none;
}

body>nav>ul ul>li>a {
    padding-left: 2.5rem;
}

body>nav>ul ul ul>li>a {
    padding-left: 3.5rem;
}

body>nav>ul ul ul ul>li>a {
    padding-left: 4.5rem;
}

body>nav li a:hover,
body>nav li.selected>a {
    --btn-background-color-opacity: 1;
}

body>main {
    width: 90%;
    max-width: 44rem;
    margin: auto;
    padding: 3rem 0;
}