*, 
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    text-decoration: none;
    list-style: none;
    transition-duration: 0;
}

body.ready *,
body.ready *::before,
body.ready *::after {
    transition-duration: 300ms;
}