main > p {
    margin: auto;
}

main > nav {
    text-align: center;
    padding-top: calc(var(--base) * 4);
}

main > nav > a {
    display: inline-block;
    max-width: 300px;
    vertical-align: top;
    text-align: left;
    border: 1px solid;
    margin: 0 var(--base) calc(var(--base) * 2);
    padding: calc(var(--base) * 3) calc(var(--base) * 4)  calc(var(--base) * 4);
    border-radius: calc(var(--base) / 2);
}

main > nav > a > h2 {
    color: var(--primary-color);
    --font-size-multiplier: calc(5 / 4);
    padding-top: 0;
}

main > nav > a:hover {
    opacity: 0.5;
}

main > nav > a:hover > h2 {
    color: var(--primary-color);
}