@import '.reset.css';
@import '.icons.css';
@import '.design.css';
@import '.layout.css';
@import '.components.css';
@import '.font.css';

h1 {
    text-align: center;
    margin-bottom: 2rem;
}

h1>a.btn.link:first-child {
    display: block;
    width: fit-content;
    margin: 0 auto;
    margin-top: 0.5rem;
    font-size: 1rem;
}

h1>a.btn.link::before {
    display: inline-block;
    font-size: 1.25rem;
    margin-right: 0.5rem;
    color: inherit;
    vertical-align: middle;
}

h1+p {
    text-align: center;
}

h1+p+:not(h2) {
    margin-top: 2rem;
}

main>:not(h1)+h2:not([class^="lenra-icon-"], [class*=" lenra-icon-"])::before,
main>:not(h2)+h3:not([class^="lenra-icon-"], [class*=" lenra-icon-"])::before {
    --spliter-opacity: 0.3;
    content: " ";
    display: block;
    margin: 3rem 0;
    border-top: 0.0625rem solid rgba(var(--text-color-data), var(--spliter-opacity));
}

main>:not(h2)+h3::before {
    --spliter-opacity: 0.15;
    margin: 2rem 0;
}

main>:not(h3)+h4 {
    margin-top: 1.5rem;
}


@media (min-width: 35rem) {
    h1 {
        display: flex;
        justify-content: space-between;
    }

    h1>a.btn.link:first-child {
        display: inline-block;
        flex-grow: 0;
        flex-shrink: 0;
        margin: 0;
    }
}