@import ".reset.css";
@import ".font.css";
@import ".layout.css";
@import ".components.css";

:root {
    --body-height: 100vh;
    --green: #57C0B3;
    --blue: #1269ED;
    --yellow-pulse: #EF902C;
    --yellow: #F6C28B;
    --yellow-fade: #FBE7D1;
    --red: #F27A86;
    --base: 8pt;
    --primary-color: #1269ED;
    --primary-color-hover: #0D4DAE;
    --black-moon: #1E232C;
    --grey-super-light: #F0F2F5;
    --dark-grey: #7A8598;
    --text-color: var(--black-moon);
    --background-color: white;
    --background-image: url("/img/fond.svg");
    --logo-horizontal-image-black: url("/img/logo.svg");
    --logo-horizontal-image-white: url("/img/logo-white.svg");
    --logo-vertical-image: url("/img/logo-vertical.svg");
    --logo-image-black: var(--logo-vertical-image-black);
    --logo-image-white: var(--logo-vertical-image-white);
    --font-size: var(--base) * 1.5;
    --line-height: calc(2 / 1.5);/* 2 * base / font-size */
    --header-vertical-padding: calc(var(--base) * 2);
    --header-horizontal-padding: calc(var(--base) * 4);
    --header-height: calc(var(--header-vertical-padding) * 2 + var(--base) * 4);/* Button height + 2 * padding */
}

html, body {
    height: 100%;
}

body {
    color: var(--text-color);
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    font-size: var(--font-size);
    font-weight: normal;
    line-height: var(--line-height);
    display: flex;
}

body > section {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    height: 100%;
    scroll-behavior: smooth;
}

main {
    flex: 1;
    padding: calc(var(--base) * 3) calc(var(--base) * 4) calc(var(--base) * 5);
    overflow: auto;
}

h1, h2, h3 {
    font-family: 'Source Sans Pro';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    text-align: left;
}

h2, h3, p {
    padding-bottom: calc(var(--base) * 2);
}

main li {
    list-style-position: inside;
    list-style-type: disc;
}

main li > ul {
    padding-left: calc(var(--base) * 2);
}



/*@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #1E232C;
        --text-color: white;
        --logo-horizontal-image: url("/img/logo-white.svg");
        --logo-vertical-image: url("/img/logo-vertical-white.svg");
    }
}*/
