---
description: Understand how to create a Lenra app.
---

extends ../../.layout.pug

append content
    p Find the guide explaining how to create some apps.

    include ../../.children-pages-list.pug